.flex-container{
  display: flex;
  flex-wrap: wrap; 
  justify-content: center;
  align-items: center;
}

.card {
  margin: 20px;
  text-align: center;
  padding: 70px;
  height: 350px;
  border-radius: 08px;
  box-shadow: 2px 2px 10px 2px  #888888;
}
.paragraph {
  inline-size: 190px;
  overflow-wrap: break-word;
}

.image_top {
  height: 100px;
  width: 90px;
  position: relative;
  display: block;
  margin-top: -65px;
  margin-left: 50px;
  

}
.arrowOne {
  width: 40px;
  height: 40px;
  transform: rotateZ(180deg);
}
.arrowSecond {
  width: 40px;
  height: 40px;
}
.button {
  position: relative;
  margin-top: 15px;
  background-color: rgb(249, 238, 183);
  border: rgb(238, 200, 13) 1px solid;
  color: rgb(244, 174, 11);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  border-radius: 50px;
  font-size: 16px;
}

@media screen and (max-width: 800px) {
  .arrowOne {
    display: none;
  }

  .arrowSecond {
    display: none;
  }
}